.about {
  padding-top: 25px;
  padding-bottom: 30px;
  text-align: center;
  background: $gray--lightest;

  @media screen and (min-width: $screen-sm-min) {
    padding-top: 30px;
  }

  @media screen and (min-width: $screen-md-min) {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  @media screen and (min-width: $screen-lg-min) {
    padding-top: 50px;
  }
  // position: relative;

  // &::after {
  //   content: '';
  //   border: 1px solid red;
  //   width: 70%;
  //   max-width: 855px;
  //   height: 256px;
  //   position: absolute;
  //   top: 50px;
  //   left: 50%;
  //   transform: translateX(-50%);
  //   background-image: url('../../img/iMac.png');
  //   background-repeat: no-repeat;
  //   background-position: 50% 50%;
  //   background-size: 100% auto;
  // }


  &__container {
    @include container();
  }

  &__title {
    @include section-title();
    margin-bottom: 20px;

    @media screen and (min-width: $screen-md-min){
      margin-bottom: 35px;
    }

    @media screen and (min-width: $screen-lg-min){
      margin-bottom: 50px;
    }
  }

  &__description {
    @include section-description();
  }

  &__img {
    display: block;
    width: 100%;
    max-width: 855px;
    margin: 0 auto;
    margin-bottom: 35px;

    @media screen and (min-width: $screen-sm-min) {
      margin-bottom: 50px;
    }

    @media screen and (min-width: $screen-md-min) {
      margin-bottom: 70px;
    }

    @media screen and (min-width: $screen-lg-min) {
      margin-bottom: 135px;
    }
  }
}
