.btn {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  box-sizing: border-box;

  &--learn-more {
    padding: 12px 40px;
    min-width: 185px;
    font-size: 15px;
    line-height: 1.6;
    font-family: $font-family--ralewai;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    margin-top: auto;
    position: relative;
    box-shadow: inset 0 0 0 2px #fff;
    transition: color .3s .15s;

    &:hover {
      border-color: transparent;
      color: $yellow;
    }

    &::before,
    &::after {
      box-sizing: inherit;
      content: '';
      position: absolute;
      border: 2px solid transparent;
      width: 0;
      height: 0;
    }

    &::before {
      top: 0;
      left: 0;
    }

    &::after {
      right: 0;
      bottom: 0;
    }

    &:hover::before {
      border-top: 2px solid $yellow;
      border-right: 2px solid $yellow;
      width: 100%;
      height: 100%;
      transition: width .15s ease-out, height .15s .15s ease-out;
    }

    &:hover::after {
      border-bottom: 2px solid $yellow;
      border-left: 2px solid $yellow;
      width: 100%;
      height: 100%;
      transition: border-color 0s .3s ease-out, width .1s .45s ease-out, height .1s .6s ease-out;
    }
  }

  &--send {
    padding: 25px 30px;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 2.6px;
    text-decoration: none;
    text-transform: uppercase;
    color: $text-gray--darken;
    background: $yellow;
    margin: 0 auto;
    width: 100%;
    transition: all .3s ease-out;

    @media screen and (min-width: $screen-sm-min) {
      width: auto;
      padding: 25px 83px;
    }

    &:hover {
      background: $yellow--dark;
      color: $text-gray;
    }
  }
}
