.page-nav {
  position: absolute;
  top: 0;
  padding-top: 100px;
  z-index: 1;
  background: $yellow--darkest;
  right: 0px;
  transition: all .3s ease-in;
  transform: translateY(-200px);
  opacity: 0;
  padding-bottom: 50px;

  @media screen and (min-width: $screen-md-min) {
    padding-top: calc(9vh + 80px);
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: right;
    padding: 0 20px;

    @media screen and (min-width: 1170px) {
      padding-right: calc((100vw - 1190px) / 2);
    }
  }

  &__link {
    display: block;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    padding: 4px;
    margin-bottom: 5px;
    transition: color .3s;

    @media screen and (min-width: $screen-md-min) {
      padding: 5px;
      margin-bottom: 10px;
    }

    &:hover {
      color: $yellow;
    }
  }

  &--active {
    transform: translateY(0px);
    min-height: 100vh;
    opacity: 1;
  }
}
