.social {
  display: flex;

  &__link {
    width: 45px;
    height: 45px;
    margin-right: 14px;
    position: relative;

    @media screen and (min-width: $screen-md-min) {
      width: 55px;
      height: 55px;
    }

    &:last-child {
      margin-right: 0;
    }

    &--dribbble {
      background: #e2436c url("../../img/dribbble.svg");
      background-repeat: no-repeat;
      background-size: 32px 32px;
      background-position: center;
    }

    &--facebook {
      background: #589ae3 url("../../img/facebook.svg");
      background-repeat: no-repeat;
      background-size: 32px 32px;
      background-position: center;
    }

    &--behance {
      background: #437fe2 url("../../img/behance.svg");
      background-repeat: no-repeat;
      background-size: 40px 40px;
      background-position: center;
    }
  }
}
