@mixin container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 20px;

  @media screen and (min-width: $screen-xlg-min) {
    padding: 0;
  }
}

@mixin section-title {
  font-size: 26px;
  line-height: 1;
  font-weight: 300;
  color: $text-gray--darken;
  text-transform: uppercase;
  letter-spacing: 8px;
  margin: 0;
  text-align: center;
}

@mixin section-description {
  font-size: 17px;
  line-height: 1.5;
  font-weight: 300;
  color: $text-gray--dark;
  letter-spacing: 2px;
  text-align: center;
  margin: 0;
}
